$checkout-btn-color: #4baf4f;

$search-bar-border-color: #60b863;
$search-icon-color: #9fadb9;
$category-border-color: #cfcfcf;
$category-title-color: #239923;

$dropdown-trash-icon-color: #618199;

$product-add-btn-color: #4bb152;
$product-update-btn-color: #007bff;
$product-price-color: #5ea85e;
$product-price-previous-color: #90949c;

$banner-title-color: #4e8909;
$banner-button-color: #505050;

$checkout-pagination-color: #6c757d;

$product-create-back-btn-color: #2f2bfe;
$product-create-form-input-border-color: #7b7b7b;
$product-create-cancel-btn-color: #fe0000;

$order-create-input-border-color: #a5a5a5;
$order-create-country-background-color: #ebecee;

$custom-radio-button-circle-color: #0677f3;

$order-view-personal-details-title-color: #828282;
$order-view-product-container-border-color: #1712fe;

$notice-background-color: #d0ecf0;
$notice-close-button-color: #749ea3;



$blog-background-color: #f2f2f2;

$vertical-menu-item-selected-bg-color: #e3d1ea;
$vertical-menu-item-selected-text-color: #9b2bc3;

$ask-question-btn-color: #9113bd;
